tensorflow==2.15.0
numpy==1.26.4
opencv-python-headless==4.10.0.84
scikit-learn==1.5.1
matplotlib==3.9.2

mediapipe==0.10.14
jax==0.4.23
jaxlib==0.4.23
ml-dtypes==0.2.0

streamlit==1.37.1
fpdf==1.7.2
tqdm==4.66.5
pillow==10.4.0
qrcode[pil]==7.4.2